html, body {
    height: 100%;
	 background: url(images/gameboard.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
 text-align: center;
 font-family: "Games", sans-serif;
}

h3, h4, h5{
	text-align: center;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#display-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input{
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 6rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.letter-box {
  border: 2px solid grey;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.display-box {
  border: 2px solid grey;
  background-color: lightsteelblue;
  border-radius: 3px;
  margin: 2px ;
  font-size: 2.5rem;
  font-weight: 700;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

input, input[type="text"]{
background-color:#000;
color: plum;
}

.letter-row {
  display: flex;
}

.display-row {
  display: flex;
}

.submit-button{
	margin: 10px;
	display: flex;
  justify-content: center;
  align-items: center;
}

.tab{
	text-align: center;
}

#info{
	text-align: center;
}

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }
